/* -- Reset -- */

html {
    width: 100%;
    min-height: 100%;
}

body {
    position: absolute;
    width: 100%;
    min-height: 100%;

    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
     font-size: 2em;
}

/* -- Main Layout -- */

body {
    margin: 0;

    display: flex;
    flex-direction: row;
}

.sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15em;

    background: #f5f5f5;

    display: flex;
    flex-direction: column;
}

.sidebar .categories {
    margin-top: 20em;
    margin-bottom: auto;
}

.main-content--wrapper {
    flex-grow: 1;
}

.main-content {
    max-width: 45em;
    margin-right: auto;
    padding: 1em;
    margin-top: 2em;
    margin-left: 2em;
}


@media(max-width: 60em) {
    body {
        flex-direction: column;
    }

    .sidebar {
        flex-basis: 5em;
        align-items: flex-start;
        justify-content: center;
    }

    .sidebar .categories {
        margin: 0;
    }
}

/* -- Reusable Elements -- */

.tags {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tags a {
    color: #999;
    /* text-decoration: none; */
}

.tags a:hover {
    color: #666;
    background: #eee;
}

.tags > * {
    margin-right: 1em;
}

.categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.categories > * {
    font-size: 1.5rem;
    width: 5em;
    margin-bottom: 0.3em;
}

.categories a {
    color: #999;
}
.categories a:hover {
    color: #666;
    background: #eee;
}

.article-list {
    margin-top: 5em;
}

.article-list--article {
    display: flex;
    flex-direction: column;
}

.article-list--article > * {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}
.article-list--article .title {
    font-size: 2.5em;
}

.article-list .title a:hover {
    background: #eee;
}

.article-list--article .title a {
    display: block;
    text-decoration: none;
}

.article-list--article .--main {
    display: flex;
    color: #ccc;
}

.article-list--article .--main > * {
    color: #999;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.article-list--article .--main > *:first-child {
    margin-left: 0;
}
