{% macro article_list(pages) %}
<div class="article-list">
    {% for page in pages %}
    <article class="article-list--article">
        <h2 class="title"><a href={{ page.permalink }}>{{ page.title }}</a></h2>
        <div class="--main">
            <div class="published-date">{{ page.date | date(format="%d %b %y") }}</div>
            |
            <ul class="tags">
                {% for tag in page.taxonomies.tags %}
                <li><a href='{{ get_taxonomy_url(kind="tags", name=tag) }}'>#{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </article>
    {% endfor %}
</div>
{% endmacro article_list %}